<% include partials/nav.ejs%>
  <div id="index-banner" class="parallax-container" style="background-color: rgba(0,100,0,0.4);">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">AgroKart</h1>
        <div class="row center">
          <h5 class="header col s12">An all stop solutions for all your farmer needs</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container" style="width: 85%">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <label for="pulses" class="label-font">Pulses</label>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/cucumber.jpeg">
              <span class="card-title layer">Cucumber</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/cucumber"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/onion.jpeg">
              <span class="card-title layer">Onion</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/onion"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/potato.jpeg">
              <span class="card-title layer">Potato</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/potato"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/wheat.jpg">
              <span class="card-title layer">Carrot</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m11 s8"></div>
        <div class="col m1 s4">
          <a href="/vegetables" class="right-align">See All</a>
        </div>
      </div>
      <!--   Icon Section   -->

    </div>
  </div>
  <div class="container" style="width: 85%;">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <label for="pulses" class="label-font">Pulses</label>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/apple.jpeg">
              <span class="card-title layer">Apple</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/apple"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/banana.jpeg">
              <span class="card-title layer">Banana</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/banana"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/orange.jpeg">
              <span class="card-title layer">Orange</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/orange"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/wheat.jpg">
              <span class="card-title layer">Grapes</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m11 s8"></div>
        <div class="col m1 s4">
          <a href="/fruits" class="right-align">See All</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="width: 85%;">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <label for="pulses" class="label-font">Pulses</label>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/wheat.jpg">
              <span class="card-title layer">Wheat</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/wheat"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/rice.jpeg">
              <span class="card-title layer">Rice</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/rice"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/dal.jpeg">
              <span class="card-title layer">Daal</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/dal"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <img src="images/wheat.jpg">
              <span class="card-title layer">Corn</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m11 s8"></div>
        <div class="col m1 s4">
          <a href="/pulses" class="right-align">See All</a>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="parallax-container valign-wrapper">-->
    <!--<div class="section no-pad-bot">-->
      <!--<div class="container">-->
        <!--<div class="row center">-->
          <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>-->
  <!--</div>-->


  <div class="parallax-container valign-wrapper layer">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A platform for farmers to get the price they deserve!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
<%include partials/footer.ejs%>