<%include partials/nav.ejs%>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="padding-top: 50px;">
    <div class="row">
        <div class="col m1"></div>
        <div class="col m10">
            <nav class="nav-extended white pushpin z-depth-3">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo blue-text left truncate">Pulses</a>

                    <form action="" class="browser-default right">
                        <input id="search-input" placeholder="Search" type="text" class="browser-default search-field" name="q" value="" autocomplete="off" aria-label="Search box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <i class="material-icons search-close-icon">cancel</i>
                    </form>

                </div>

            </nav>
            <br>
            <main>
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <label for="pulses" class="label-font">Pulses</label>
                        </div>
                        <div class="col m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/wheat.jpg">
                                    <span class="card-title layer">Wheat</span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/wheat"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/rice.jpeg">
                                    <span class="card-title layer">Rice</span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/rice"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/dal.jpeg">
                                    <span class="card-title layer">Daal</span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="/product/dal"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/wheat.jpg">
                                    <span class="card-title layer">Corn</span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="col m1"></div>
    </div>
</div>

<%include partials/footer.ejs%>
