<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohangoyal2014.agrokart">

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity"/>
        <activity android:name=".ViewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity"/>
        <activity android:name=".OrderActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity"/>
        <activity android:name=".PassbookActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity"/>

        <service android:name=".AddtionSyncService"/>
    </application>

</manifest>